einops
requests
diskcache
psutil
faiss-cpu
langchain
langchain_community
langchain_huggingface
sentence_transformers
bs4
rich
tqdm
#tiktoken needed in order to for TokenTextSplitter
tiktoken 
#otel packages
opentelemetry-sdk 
opentelemetry-exporter-otlp 
opentelemetry-instrumentation-logging
#openLIT
openlit





