numpy
einops
requests
diskcache
psutil
langchain
langchain_community
langchain-chroma>=0.1.2
chromadb
ollama
langchain-ollama
#telemetry packages
opentelemetry-sdk 
opentelemetry-exporter-otlp 
opentelemetry-instrumentation-logging
opentelemetry-api
openlit
# misc
tzdata
bs4
rich
tqdm
beautifulsoup4
#tiktoken needed in order to for TokenTextSplitter
tiktoken 
#NOTE:huggingface libs or langchain derived libs requires torch like heavy libs.
# increasing docker image size.
#
#needed for openlit
psutil
nvidia-ml-py 
amdsmi
opentelemetry-instrumentation-openai