einops
requests
diskcache
psutil
faiss-cpu
langchain
langchain_community
ollama
langchain-ollama
#telemetry packages
opentelemetry-sdk 
opentelemetry-exporter-otlp 
opentelemetry-instrumentation-logging
openlit
# misc
bs4
rich
tqdm
#tiktoken needed in order to for TokenTextSplitter
tiktoken 
#NOTE:huggingface libs or langchain derived libs requires torch like heavy libs.
# increasing docker image size.




